@page
@model Learning_site.Pages.Managements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Management</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Management.Channel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Management.Channel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Management.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Management.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Management.DailyTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Management.DailyTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Management.Days)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Management.Days)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Management.Title">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
